#define MANIFEST 24
#define LAB_11 1000
#define EDT_1 1001
#define EDT_2 1002
#define BTN_EQ 1004
#define STC_PLUS 1004
#define EDT_RES 1003
#define IDC_STC1 1006
#define IDC_STC2 1005
#define IDR_XPMANIFEST1 1

#include "C:/masm32/include/RESOURCE.H"

LAB_11 DIALOGEX 10,10,282,99
CAPTION "lab_11"
FONT 12,"MS Sans Serif",0,0,0
STYLE WS_VISIBLE|WS_OVERLAPPEDWINDOW
BEGIN
  CONTROL "",EDT_1,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|ES_CENTER,24,36,36,21,WS_EX_CLIENTEDGE|WS_EX_DLGMODALFRAME
  CONTROL "",EDT_2,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|ES_CENTER,117,36,36,21,WS_EX_CLIENTEDGE|WS_EX_DLGMODALFRAME
  CONTROL "Calculate",BTN_EQ,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,111,72,57,21
  CONTROL "+",STC_PLUS,"Static",WS_CHILDWINDOW|WS_VISIBLE,84,42,6,9
  CONTROL "",EDT_RES,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|ES_CENTER,222,36,36,21,WS_EX_CLIENTEDGE|WS_EX_DLGMODALFRAME
  CONTROL "Enter two digits to sum",IDC_STC1,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE|SS_CENTER,96,12,90,15
  CONTROL "=",IDC_STC2,"Static",WS_CHILDWINDOW|WS_VISIBLE,192,42,6,9
END

IDR_XPMANIFEST1 MANIFEST "xpmanifest.xml"

